<!DOCTYPE html>
<html>
    <head>
        <title>Otonbara's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Ragers 🌵🔥</a></h1>
        </header>

        <article>
            <time>published: 21.07.2024, 16:54</time>
            <h2><a href="">Pride of London</a></h2>
            <p>Everything about Chelsea FC AKA the Pride of London!!!.</p>
        </article>

        <article>
            <time>published: 21.07.2024, 16:55</time>
            <h2><a href="">Energy</a></h2>
            <p>I'm keenly interested in the energy sector and industry.</p>
        </article>
    </body>
</html>